@charset "utf-8";
/* CSS Document */

.regist-box{ width: 858px; padding: 28px 60px 0; border: 1px solid #e8e8e8; margin: 10px auto 65px; height: 537px;/**/}
.regist-tab{ height: 36px; border-bottom: 1px solid #d9e8e8; border: 1px solid red;/**/ }
.tab-list li{ display: inline; height: 100%; line-height: 36px; margin-bottom: -2px; float: left; padding: 0 40px; margin-right: 7px; border: 1px solid #d9e8e8; border-bottom: none; border-radius: 4px; }
.tab-list a{ font-size: 14px; color: #2bb8aa; font-weight: bold; }
.tab-list b{ display: inline-block; margin-right: 7px; background: url(../images/mt_bg7.png) no-repeat; }
.tab-list .re-email{ width: 16px; height: 12px; background-position: -22px 0; }
.tab-list .re-phone{ width: 11px; height: 16px; margin-top: 3px; }
.has-acc a{ font-size: 14px; color: #2bb8aa; }

.re-form{ border: 1px solid red; padding-top: 28px; }
.re-form input{ width: 258px; height: 34px; border: 1px solid #aaa; margin-bottom: 16px; }
.left-tit{ width: 69px; margin-right: 11px; text-align: right; }
.pwd-stren span{ display: inline-block;  width: 85px; height: 20px; line-height: 20px; background: #eee; color: #fff; text-align: center; }
.cre-pwd-box{ height: 62px; }
.btn-reg{ width: 193px; height: 36px; line-height: 36px; background: #2db6a9; border-bottom: 1px solid #0d7b71; border-radius: 2px; text-align: center; color: #fff; font-size: 14px; font-weight: bold; cursor: pointer; }
.mt-item{ color: #2bb8aa; }
